@model Innexys.Models.Task

@{
    ViewBag.Title = "Create";
}

@section NavSection {
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">New Task</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.ActionLink("Back to List", "Innexys", "Account")
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}

@using (Html.BeginForm("Create", "Task", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <h4>
                @Html.LabelFor(model => model.Subject)
            </h4>
                @Html.TextBoxFor(model => model.Subject, new { Style = "color: black;", @class = "text-center" })
             @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <h4>
                @Html.LabelFor(model => model.StartDate)
            </h4>
            @Html.TextBoxFor(model => model.StartDate, new { Style = "color: black;", @class = "text-center" })
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <h4>
                @Html.LabelFor(model => model.EndDate)
            </h4>
            @Html.TextBoxFor(model => model.EndDate, new { Style = "color: black;", @class = "text-center" })
            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <h4>
                @Html.LabelFor(model => model.Category)
            </h4>
            @Html.TextBoxFor(model => model.Category, new { Style = "color: black;", @class = "text-center" })
            @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <h4>
                @Html.LabelFor(model => model.Description)
            </h4>
            @Html.TextAreaFor(model => model.Description,
                new { Style = "color: black; width: 230px; height:60px; border: 1px solid #ee4b28; border-left: 6px solid #ee4b28; border-radius: 10px;" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
             <input type="submit" value="Create Task" class="btn btn-primary btn-xl"/>
        </div>
    </div>
}