@model Innexys.Models.Account

@{
    ViewBag.Title = "Edit";
}

@section NavSection {
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Edit Account</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.ActionLink("Back to List", "Innexys", "Account")
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <h4>
                @Html.LabelFor(model => model.Name)
            </h4>
            @Html.TextBoxFor(model => model.Name, new { Style = "color: black;", @class = "text-center" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <h4>
                @Html.LabelFor(model => model.Email)
            </h4>
            @Html.TextBoxFor(model => model.Email, new { Style = "color: black;", @class = "text-center" })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <h4>
                @Html.LabelFor(model => model.Phone)
            </h4>
            @Html.TextBoxFor(model => model.Phone, new { Style = "color: black;", @class = "text-center" })
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <h4>
                @Html.LabelFor(model => model.Position)
            </h4>
            @Html.EnumDropDownListFor(model => model.Position, new { Style = "color: black;" })
            @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary btn-xl"/>
        </div>
    </div>
}
