@using Innexys_Work.Security;
@model IQueryable<Innexys.Models.Account>
@{
    ViewBag.Title = "Innexys";
}

<h2>Hello @Html.ActionLink(SessionPersiter.Email, "ViewAccount", "Account")!</h2>
@Html.ActionLink("Create task", "Create", "Task")
@Html.ActionLink("Show tasks", "ViewTasks", "Task")

@foreach (var account in Model)
{   
   foreach (var task in account.Tasks)
   {
    @account.Email
    @task.Subject
    <br>
   }
}

