@model Innexys_Work.ViewModels.AccountViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @ViewBag.Error
    <tr>
        <td>@Html.LabelFor(model => model.Account.Name )</td>
        <td>@Html.TextBoxFor(model => model.Account.Name)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Account.Email)</td>
        <td>@Html.TextBoxFor(model => model.Account.Email)</td>
    </tr>

    <tr>
        <td>&nbsp;</td>
        <td><input type="submit" value="Login"/></td>
    </tr>
}

